<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>생성 페이지</title>
  </head>
  <body>
    <form
      method="post"
      action="/api/member"
      enctype="multipart/form-data"
      onsubmit="createMember(event)"
    >
      <div>
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" required />
      </div>
      <div>
        <input
          type="file"
          id="image"
          name="image"
          accept=".jpg, .jpeg, .png"
          style="
            position: absolute;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            border: 0;
          "
        />
        <img
          id="imagePreview"
          style="width: 100px; height: 100px; object-fit: cover"
          src="https://intro-app-profile-image.s3.ap-northeast-2.amazonaws.com/No-Image-Placeholder.png"
        />
        <button type="button" onclick="selectImage()">사진 선택</button>
        <button type="button" onclick="resetImage()">사진 삭제</button>
      </div>
      <div>
        <label for="name">MBTI: </label>
        <input type="text" name="mbti" id="mbti" />
      </div>
      <div>
        <label for="name">Advantage: </label>
        <input type="text" name="advantage" id="advantage" />
      </div>
      <div>
        <label for="name">Style: </label>
        <input type="text" name="co_style" id="co_style" />
      </div>
      <div>
        <label for="name">Description: </label>
        <input type="text" name="desc" id="desc" />
      </div>
      <div>
        <label for="name">Blog_url: </label>
        <input type="text" name="blog_url" id="blog_url" />
      </div>
      <div>
        <label for="pass">Password (4 characters minimum):</label>
        <input
          type="password"
          id="password"
          name="password"
          minlength="4"
          required
        />
      </div>
      <!-- <button onclick="posting()">생성</button> -->
      <input type="submit" value="생성하기" />
    </form>
    <script>
      const inputImage = document.querySelector("#image");
      const imagePreview = document.querySelector("#imagePreview");

      function selectImage() {
        inputImage.click();
      }
      function changeImage(e) {
        console.log("change");
        const files = e.target.files;
        if (files.length < 1) return resetImage();
        const file = files[0];
        if (file.size > 2097152) {
          alert("2MB이하의 이미지를 선택해주세요.");
          return resetImage();
        }
        imagePreview.src = URL.createObjectURL(file);
      }
      function resetImage() {
        console.log("reset");
        imagePreview.src =
          "https://intro-app-profile-image.s3.ap-northeast-2.amazonaws.com/No-Image-Placeholder.png";
        inputImage.value = "";
      }
      inputImage.onchange = changeImage;

      async function createMember(event) {
        event.preventDefault();
        const formData = new FormData(event.target);
        try {
          const res = await fetch("/api/member", {
            method: "POST",
            body: formData,
          });
          const data = await res.json();
          const url = data.url;
          if (res.status === 200) {
            window.location.replace("/");
          } else {
            console.log(data.error);
            throw new Error("멤버 생성에 실패했습니다.");
          }
        } catch (e) {
          alert(e);
        }
      }
    </script>
  </body>
</html>
