<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>홈</title>
  </head>
  <body>
    <button onclick="listing()">다시 불러오기</button>
    <a href="/manage/create">멤버 생성하기</a>
    <ul id="list"></ul>
    <script>
      window.onload = (e) => {
        listing();
      };
      const list = document.getElementById("list");

      async function listing() {
        try {
          const res = await fetch("/api/member");
          const json = await res.json();
          console.log(json);
          list.innerHTML = "";
          json["result"].map((member) => {
            const card = document.createElement("li");
            temp_html = `
              <div>
                <a href='/member/${member.id}'><p>${member.name}</p></a>
                <p>${member.photo_url}</p>
                <p>${member.mbti}</p>
                <p>${member.advantage}</p>
                <p>${member.co_style}</p>
                <p>${member.desc}</p>
                <p>${member.blog_url}</p>
              </div>
            `;
            card.innerHTML = temp_html;
            list.appendChild(card);
          });
        } catch (e) {
          alert(e);
        }
      }
    </script>
  </body>
</html>
