<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {{name}}
    <ul id="list"></ul>
    <script>
      window.onload = (e) => {
        listing();
      };
      const list = document.getElementById("list");
      async function listing() {
        const res = await fetch(`/api/member/{{name}}`);
        const json = await res.json();
        console.log(json);
        list.innerHTML = "";
        json["result"].map((member) => {
          const card = document.createElement("li");
          temp_html = `
            <div>
              <p>${member.name}</p>
              <p>${member.photo_url}</p>
              <p>${member.mbti}</p>
              <p>${member.advantage}</p>
              <p>${member.co_style}</p>
              <p>${member.desc}</p>
              <p>${member.blog_url}</p>
            </div>
          `;
          card.innerHTML = temp_html;
          list.appendChild(card);
        });
      }
    </script>
  </body>
</html>
