<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
      <div>
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" disabled />
      </div>
      <div>
        <label for="name">Photo: </label>
        <input type="text" name="photo_url" id="photo_url" />
      </div>
      <div>
        <label for="name">MBTI: </label>
        <input type="text" name="mbti" id="mbti" />
      </div>
      <div>
        <label for="name">Advantage: </label>
        <input type="text" name="advantage" id="advantage" />
      </div>
      <div>
        <label for="name">Style: </label>
        <input type="text" name="co_style" id="co_style" />
      </div>
      <div>
        <label for="name">Description: </label>
        <input type="text" name="desc" id="desc" />
      </div>
      <div>
        <label for="name">Blog_url: </label>
        <input type="text" name="blog_url" id="blog_url" />
      </div>
      <button onclick="update()">update</button>
    </form>
    <script>
      window.onload = (e) => {
        listing();
      };
      const list = document.getElementById("list");
      async function listing() {
        try {
          const res = await fetch(`/api/member/{{name}}`);
          const json = await res.json();
          const member = json["result"];
          document.querySelector("#name").value = member.name;
          document.querySelector("#photo_url").value = member.photo_url;
          document.querySelector("#mbti").value = member.mbti;
          document.querySelector("#advantage").value = member.advantage;
          document.querySelector("#co_style").value = member.co_style;
          document.querySelector("#desc").value = member.desc;
          document.querySelector("#blog_url").value = member.blog_url;
        } catch(e) {
          alert(e);
        }
      }
      
      async function update() {
        const name = document.querySelector("#name").value;
        const photo_url = document.querySelector("#photo_url").value;
        const mbti = document.querySelector("#mbti").value;
        const advantage = document.querySelector("#advantage").value;
        const co_style = document.querySelector("#co_style").value;
        const desc = document.querySelector("#desc").value;
        const blog_url = document.querySelector("#blog_url").value;


        let formData = new FormData();
        formData.append("name", name);
        formData.append("photo_url", photo_url);
        formData.append("mbti", mbti);
        formData.append("advantage", advantage);
        formData.append("co_style", co_style);
        formData.append("desc", desc);
        formData.append("blog_url", blog_url);

        try {
          const res = await fetch("/api/member/{{name}}", { method: "PUT", body: formData })
          if(res.status === 200){
            window.location.href = '/member/{{name}}'
          } else {
            console.log(`error ${res.status}`);
          }
        } catch(e) {
          alert(e);
        }
      }
    </script>
  </body>
</html>
